{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "quotes": [
      "warn",
      "double"
    ],
    "space-before-function-paren": [
      "warn",
      "always"
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "arrow-parens": "off",
    "object-property-newline": "off",
    "array-element-newline": "off",
    "max-len": ["error", 120],
  }
}
