{
    "extends": ["eslint:recommended", "google"],
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "quotes": ["warn", "double"],
        "space-before-function-paren": ["warn", "always"],
        "arrow-parens": "off",
        "max-len": ["error", 120]
    }
}
